<!DOCTYPE html>
<html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>

        <script>
            $(document).ready(function() {
                nodecg.declareSyncedVar({
                    name: 'latestDonation',
                    initialVal: null,
                    setter: function(donation) {
                        if (donation) {
                            $('#latestDonationName').text(donation.nickname);
                            $('#latestDonationMessage').text(donation.message);
                            $('#latestDonationAmount').text(accounting.formatMoney(donation.amount.display.total));
                        }
                    }
                });

                nodecg.declareSyncedVar({
                    name: 'topDonor',
                    initialVal: null,
                    setter: function(donor) {
                        if (donor) {
                            $('#topDonorName').text(donor.nickname);
                            $('#topDonorAmount').text(accounting.formatMoney(donor.amount.total));
                        }
                    }
                });

                nodecg.declareSyncedVar({
                    name: 'total',
                    initialVal: 0,
                    setter: function(total) {
                        $('#totalAmount').text(accounting.formatMoney(total));
                    }
                });
            });
        </script>
    </head>

    <body>
        <p>Top Donor: <span id="topDonorName"></span> (<span id="topDonorAmount"></span>)</p>
        <p>Latest Donation: <span id="latestDonationName"></span> (<span id="latestDonationAmount"></span>)</p>
        <p>Total Raised: <span id="totalAmount"></span></p>
    </body>
</html>
